* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
  }

section {
    min-height: 360px;
}
  
/*CSS Color Pallete
Lapis Lazuli: #0A59A7
Royal Blue: #0D2662
White: #FFFFFF
Red: #E70000
Cadet Gray: #93A8AC
*/

nav {
    background-color: #0D2662;
    height: 5rem;
    box-shadow: .25rem .25rem .75rem gray, 0rem 0rem 0rem gray, 0rem 0rem 0rem gray;
}

.my_logo {
    float: left;
    position: relative;
    left: 15px;
    bottom: -2px;
    width: 8rem;
    z-index: 1;
}

.nav-div {
    text-align: center;
    padding-inline: 10rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.nav-items {
    list-style: none;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    gap: 6rem;
}

.nav-link:hover {
    color: gray;
    border-bottom: 3px solid red;
    transition: 0.3s;
}

.banner {
    height: 360px;
    position: relative;
    bottom: 66px;
    background-image: linear-gradient(to right, #0a59a9, #00a2ff ) ;
/*  background: url(./siteimages/northern_lights_banner.webp) no-repeat; */
    background-size: cover;
}

.banner h1 {
    text-align: center;
    font-size: 5rem;
    color: aliceblue;
    opacity: 85%;
    position: relative;
    top: 15%;
}

.banner h3 {
    text-align: center;
    color: aliceblue;
    opacity: 65%
}

.banner button {
    color: white;
    background-color: #0D2662;
    border: 0;
    border-radius: 2rem;
    box-shadow: .15rem .15rem .15rem black, 0rem 0rem 0rem black, 0rem 0rem 0rem black;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    transition-duration: 0.5s;
    position: relative;
    left: 45%;
    top: 10%;
}

.web-dev {
    position: relative;
    bottom: 67px;
    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
}

.webdev-section {
    position: relative;
    bottom: 93px;
}

.webdev-section h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0rem 0rem 0rem;
}

.package-cards {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 5rem;
    justify-content: center;
    text-align: center;
    padding: 0rem 0rem 4rem 0rem;
}

.basic-package {
    border-radius: 1rem;
    background-image: linear-gradient(to right, #0a59a9, #00a2ff );
    box-shadow: .15rem .15rem .15rem lightgray, 0rem 0rem 0rem lightgray, 0rem 0rem 0rem lightgray;
    color: white;
}

.basic-package:hover {
    background-image: linear-gradient(to left, #0a59a9, #00a2ff);
    transition-duration: 0.3s;
    cursor: pointer;
}

.premium-package {
    border-radius: 1rem;
    background-image: linear-gradient(90deg, #944dff 30%, #c49ef5 100%);
    box-shadow: .15rem .15rem .15rem lightgray, 0rem 0rem 0rem , 0rem 0rem 0rem lightgray;
    color: white;
}

.premium-package:hover {
    background-image: linear-gradient(to left, #944dff 30%, #c49ef5 100%);
    transition-duration: 0.3s;
    cursor: pointer;
}

.package-cards div {

}