* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
  }
  
/*CSS Color Pallete
Lapis Lazuli: #0A59A7
Royal Blue: #0D2662
White: #FFFFFF
Red: #E70000
Cadet Gray: 93A8AC
*/

nav {
    background-color: #0D2662;
    height: 5rem;
}

.my_logo {
    float: left;
    position: relative;
    left: 15px;
    bottom: -2px;
    width: 8rem;
    z-index: 1;
}

.nav-div {
    text-align: center;
    padding-inline: 10rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.nav-items {
    list-style: none;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.banner {
    height: 360px;
    position: relative;
    bottom: 66px;
    background-image: linear-gradient(to right, hsla(210, 89%, 35%, 1), hsla(202, 100%, 50%, 1) ) ;
/*  background: url(./siteimages/northern_lights_banner.webp) no-repeat; */
    background-size: cover;
}

.banner h1 {
    text-align: center;
    font-size: 5rem;
    color: aliceblue;
    opacity: 85%;
    position: relative;
    top: 15%;
}

.banner h3 {
    text-align: center;
    color: aliceblue;
    opacity: 65%
}

.banner button {
    color: black;
    background-color:rgb(215, 240, 234);
    border: 0;
    border-radius: 2rem;
    box-shadow: .15rem .15rem .15rem black, 0rem 0rem 0rem black, 0rem 0rem 0rem black;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    transition-duration: 0.5s;
    position: relative;
    left: 45%;
    top: 10%;
}

.webdev-section {
    padding: 2rem;

}

.webdev-section h2 {
    text-align: center;
    font-size: 2rem;
}

.package-cards {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 3rem;
    justify-content: center;
    text-align: center;
}

.basic-package {
    border-radius: 1rem solid hsla(210, 89%, 35%, 1);
    background-image: linear-gradient(to right, hsla(210, 89%, 35%, 1), hsla(202, 100%, 50%, 1) ) ;

}

.premium-package {
    border: 1rem ;
}

.package-cards div {
    border: 1px solid black;
    gap: 1rem;
}